
<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
      <input
      type="search"
      class="filtro"
      placeholder="O quê você procura"
      autofocus
      [(ngModel)]="filter"
      (keyup)="search()"
      >
      <img src="/assets/imagens/lupa.png" alt="lupa">
    </div>
    <h2 class="ff-inter">Meu Mural</h2>
    <div class="botoes">
      <button routerLink="/home/create-thought" class="botao">Novo pensamento</button>
      <button  (click)="listFavorite()" class="botao"> <span>{{canShowFavoriteList ? 'Mostrar todos ' : 'Mostrar favoritos '}}</span></button>
    </div>
  </header>
  <div class="mural" *ngIf="thoughtsList.length > 0, else semPensamentos">
    <div *ngFor="let thought of thoughtsList">
      <app-thoughts-card
        [favoriteList]="thoughtsList"
        [thought]="thought"
      ></app-thoughts-card>
    </div>
  </div>
</section>
<base-load-page-button
  [hasMoreItems]="hasMoreItems"
  (click)="loadMoreItems()"

></base-load-page-button>
<ng-template #semPensamentos>
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há pensamentos cadastrados!</p>
  </div>
</ng-template>


